<h1 style="text-decoration: underline">FlashBox Component demo application</h1>

<h2>Select FlashBox position: </h2>

    <input type="radio" name="position" value="tr" #tr_radio (click)="radioButtonClicked(tr_radio.value)">Top right<br>
    <input type="radio" name="position" value="tm" #tm_radio (click)="radioButtonClicked(tm_radio.value)">Top middle<br>
    <input type="radio" name="position" value="tl" #tl_radio (click)="radioButtonClicked(tl_radio.value)">Top left<br>
    <br>
    <input type="radio" name="position" value="cr" #cr_radio (click)="radioButtonClicked(cr_radio.value)">Center right<br>
    <input type="radio" name="position" value="cm" #cm_radio (click)="radioButtonClicked(cm_radio.value)">Center middle<br>
    <input type="radio" name="position" value="cl" #cl_radio (click)="radioButtonClicked(cl_radio.value)">Center left<br>
    <br>
    <input type="radio" name="position" value="br" #br_radio (click)="radioButtonClicked(br_radio.value)">Bottom right<br>
    <input type="radio" name="position" value="bm" #bm_radio (click)="radioButtonClicked(bm_radio.value)">Bottom middle<br>
    <input type="radio" name="position" value="bl" #bl_radio (click)="radioButtonClicked(bl_radio.value)">Bottom left<br>
    <br>
    <h2>Select FlashBox action:</h2>
    <button>Show</button>
    <button>Hide</button>
    <br>
    <button>Start flashing</button>
    <button>Stop flashing</button>
    <button>Flash once</button>
    <br>







<flash-box type="primary" position="bm" max-width="300px" setTimeout=2000 #bm1>
   <div style="border-type: solid; border-width:2px">
       <label style="color: rgb(0,0,0); text-decoration: underline;">Information message</label>
   </div>
   <label>
       User successfully deleted...
   </label>
</flash-box>

<button (click)="bm1.show()">Pritisni me</button>
<button (click)="bm1.hide()">Zaustavi me</button>