<!-- <div [class.show]="!isShown" class="hide pozicija" [class.boja_ok] = "ok" [class.boja_notok]="!ok">
  <ng-content></ng-content>  
</div> -->

<div [style.max-width.px]="maxwidth"
     [class.show]="!isShown"
     class="hide type_common"
     [class.type_default]="type_default"
     [class.type_primary]="type_primary"
     [class.type_success]="type_success"
     [class.type_info]="type_info"
     [class.type_warning]="type_warning"
     [class.type_danger]="type_danger"
     [class.position_tr]="position_tr"
     [class.position_tm]="position_tm"
     [class.position_tl]="position_tl"
     [class.position_cr]="position_cr"
     [class.position_cm]="position_cm"
     [class.position_cl]="position_cl"
     [class.position_br]="position_br"
     [class.position_bm]="position_bm"
     [class.position_bl]="position_bl"
>
  <ng-content></ng-content>
</div>