<!-- <div [class.show]="!isShown" class="hide pozicija" [class.boja_ok] = "ok" [class.boja_notok]="!ok">
  <ng-content></ng-content>  
</div> -->

<!--<div 
     [class.show]="!isShown"
     class="hide type_common"
     [class.type_default]="type_default"
     [class.type_primary]="type_primary"
     [class.type_success]="type_success"
     [class.type_info]="type_info"
     [class.type_warning]="type_warning"
     [class.type_danger]="type_danger"
     [class.position_tr]="position_tr"
     [class.position_tm]="position_tm"
     [class.position_tl]="position_tl"
     [class.position_cr]="position_cr"
     [class.position_cm]="position_cm"
     [class.position_cl]="position_cl"
     [class.position_br]="position_br"
     [class.position_bm]="position_bm"
     [class.position_bl]="position_bl"
     [class.style.max-width.px]="maxwidth"
>
  <ng-content></ng-content>
</div>-->


<div 
     [class.show]="!isShown"
     class="hide type_common"
     [class.type_default]="style_type[0]"
     [class.type_primary]="style_type[1]"
     [class.type_success]="style_type[2]"
     [class.type_info]="style_type[3]"
     [class.type_warning]="style_type[4]"
     [class.type_danger]="style_type[5]"
     [class.position_tr]="style_position[0]"
     [class.position_tm]="style_position[1]"
     [class.position_tl]="style_position[2]"
     [class.position_cr]="style_position[3]"
     [class.position_cm]="style_position[4]"
     [class.position_cl]="style_position[5]"
     [class.position_br]="style_position[6]"
     [class.position_bm]="style_position[7]"
     [class.position_bl]="style_position[8]"
     [class.style.max-width.px]="maxwidth"
>
  <ng-content></ng-content>
</div>